[common]
logger.dir = /tmp/jindosdk-log
logger.level = 2
logger.verbose = 0
logger.sync = false
logger.jnilogger = true
logger.consolelogger = false

[jindosdk]
fs.oss.endpoint =
fs.oss.accessKeyId =
fs.oss.accessKeySecret =

fs.jindofsx.namespace.rpc.address = 127.0.0.1:8101
fs.jindofsx.storage.rpc.port = 6101
fs.jindofsx.request.user =
fs.jindofsx.data.cache.enable = true